@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root{
    --bx-size: 60px;
    --light-navy: #669ACC;
    --medium-navy: #005cb3;
    --dark-navy: #004c94;
}


body{
	margin: 0;
	padding: 0;
    height: 100vh;
}
*{
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}
html{
	box-sizing: border-box;
}
*,::after,::before{
	box-sizing: inherit;
}



/* CREATE SECTION */
.create{
    display: flex;
    flex-direction: row;
    height: 100%;
    user-select: none;
}
.create__shipsContainer{
    width: 30%;
    display: flex;
}
.create__ships{
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center;
    column-gap: 75px;
}
.create__shipContainer{
    width: var(--bx-size);
    height: calc(var(--create-size-count) * var(--bx-size));
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}
.create__shipContainer:active{
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur'), all-scroll;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}
.create__shipBx{
    display: grid;
    position: absolute;
}
.create__shipImgBx{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.create__shipBx.activeSelection{
    outline: 6px solid white;
    outline-offset: -4px;
}
.create__shipWrap{
    display: grid;
}
.create__shipImg{
    height: calc(var(--create-size-count) * var(--bx-size));
    width: var(--bx-size);
    object-fit: contain;
    scale: 0.8;
}
.create__size{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(var(--create-size-count), var(--bx-size));
    z-index: 2;
}
.size__bx{
    background-color: #0093ff45;
    border: 2px solid #0093ff;
}


.create__fieldsContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.397);
}
.create__fieldArea{
    display: flex;
    flex-direction: row;
    column-gap: 28px;
}
.create__fieldBx{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-navy);
}

.field__textEdge{
    display: flex;
    flex-direction: row;
}
.field__bottom{
    display: flex;
    flex-direction: row;
}
.field__numEdge{
    display: flex;
    flex-direction: column;
}
.fieldBx{
    width: var(--bx-size);
    height: var(--bx-size);
}
.fieldBx.fieldText{
    background-color: var(--dark-navy);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.fieldBx.mainField{
    background-color: var(--light-navy);
    border: 1px solid var(--medium-navy);
}
.fieldBx.mainField[data-ship-id]{
    background-color: #ff000045;
}
.fields__containerBx{
    display: flex;
    flex-direction: column;
}
.field__container{
    display: flex;
    flex-direction: row;
}

.create__fieldBtns{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}
.create__fieldBtn{
    font-size: 20px;
    font-weight: 400;
    border: 2px solid var(--dark-navy);
    background-color: var(--light-navy);
    color: white;
    outline: none;
    padding: 12px 24px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}
.create__fieldBtn:hover{
    background-color: var(--dark-navy);
}
.create__fieldContinue{
    display: flex;
    margin-top: 28px;
}
.create__fieldContinue .create__fieldBtn{
    font-size: 24px;
    padding: 14px 30px;
    visibility: hidden;
    opacity: 0;
}
.create__fieldContinue .create__fieldBtn.fade-in{
    animation: fade-in 200ms ease-in-out forwards;
}
.create__fieldContinue .create__fieldBtn.fade-out{
    animation: fade-out 200ms ease-in-out forwards;
}
.create__fieldContinue .create__fieldBtn.fade-fix{
    animation: none;
}



/* Refresh Section */
.refresh{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;

    display: none;
}
.refresh__title{
    font-size: 72px;
}
.refresh__btn{
    background-color: white;
    color: black;
    border: 2px solid white;
    outline: none;
    font-size: 28px;
    padding: 12px 30px;
    border-radius: 16px;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
    cursor: pointer;
}
.refresh__btn:hover{
    background-color: black;
    color: white;
}


@keyframes fade-in {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    1%{
        opacity: 0;
        visibility: visible;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-out {
    0%{
        opacity: 1;
        visibility: visible;
    }
    99%{
        opacity: 0;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}


/* Game */
.create{
    display: none;
}
.game{
    /* display: none !important; */

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background-color: rgb(94, 94, 94);
}

.gameShip__container{
    position: absolute;
    left: 87px;
    top: 265px;
    display: grid;
}
.gameShip__video{
    grid-column: 1;
    grid-row: 1;
}
.gameShip__bx{
    grid-column: 1;
    grid-row: 1;
}
.gameShip__cover{
    display: block;
    width: var(--bx-size);
    height: var(--bx-size);
    background-color: var(--light-navy);
    border: 1px solid var(--medium-navy);
}
.gameShip__cover:first-of-type,
.gameShip__cover:last-of-type{
    opacity: 0;
}